@tailwind base;
@tailwind components;
@tailwind utilities;

.topdesu {
  background-image: url("/img/bg.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 75vh;
  color: white;
}

@media (max-width: 790px) {
  footer > div {
    flex-direction: column;
    align-items: center;
  }
}

@media (width <= 640px) {
  footer > div > div > ul {
    flex-direction: column;
    align-items: center;
  }
}
